# Get a free access token at https://www.mapillary.com/dashboard/developers
# 1) Create a Mapillary account
# 2) Register a new application (client) in the developer dashboard
# 3) Copy the "Client Token" into MAPILLARY_ACCESS_TOKEN below
# 4) Copy this file to ".env" (do NOT commit .env)
MAPILLARY_ACCESS_TOKEN=your_mapillary_access_token_here
